*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    font-family:"noto sans janpanse"sans-serif;
    /* flex-wrap: wrap; */
}

.navbar{
    width: 100%;
    position: absolute;
    top: 0;
    z-index: 999;
    background: url(/static/imgi_1_Header-Logo-White_d109eaee-14e4-40a0-94e3-1fc856375f6a.jpeg) no-repeat center;
    padding: 18px 50px;
    color: black;
    display: flex;
    align-items: center;
    justify-content: space-between;
    
   
}
.navleft{
    display: flex;
    gap: 20px; 
 
    
}

.navleft>a{
    text-decoration: none;
    color: white;
    font-size: 13px;
    font-weight: 600;
}
.navlogo{
    color: white;
    text-align: center;
    cursor: pointer;
}



.home{
    position: relative;
    background: url(/static/HOME.webp)no-repeat center / cover;
    height: 100vh;
    
}
.chatbox{
    position: fixed;
    left: 71rem;
    bottom: 10rem;
    background-color: gray;
    border-radius: 15px;
    padding: 5px 10px;
    cursor: pointer;

}
.chatbox2{
    position: fixed;
    right: 74.7rem;
    bottom: 10rem;
    background-color: gray;
    padding: 10px ;
    cursor: pointer;
border:solid;
background-color: white;
}
.bigbox{
display: flex;
justify-content: center;
gap: 20px;
}
.box1{
    background:url(/static/1.jpg)no-repeat center /cover;
    height:250px;
    width: 250px;
    margin: auto;
    
}
.box1:hover{
    background: url(/static/1.1.jpeg) no-repeat center / cover;
    cursor: pointer;
}
.text{
    text-align: center;
    cursor: pointer;
    margin: 10px;
}
.box2{
    background:url(/static/2.1.jpeg)no-repeat center /cover;
    height:250px;
    width: 250px;
    margin: auto;
}
.box2:hover{
    background: url(/static/2.jpeg) no-repeat center / cover;
    cursor: pointer;
}
.text2{
    text-align: center;
    cursor: pointer;
    margin: 10px;
}
.box3{
    background:url(/static/3.jpeg)no-repeat center /cover;
    height:250px;
    width: 250px;
    margin: auto;
}
.box3:hover{
    background: url(/static/3.1.jpg) no-repeat center / cover;
    cursor: pointer;
}
.text3{
    text-align: center;
    cursor: pointer;
    margin: 10px;
}
.box4{
    background:url(/static/4.jpg)no-repeat center /cover;
    height:250px;
    width: 250px;
    margin: auto;
}
.box4:hover{
    background: url(/static/4.1.jpeg) no-repeat center / cover;
    cursor: pointer;
}
.text4{
    text-align: center;
    cursor: pointer;
    margin: 10px;
}
.bigbox2{
display: flex;
justify-content: center;
gap: 20px;
margin-top: 100px;
}
.box5{
    background:url(/static/5.1.jpeg)no-repeat center /cover;
    height:250px;
    width: 250px;
    margin: auto;
}
.box5:hover{
    background: url(/static/5.jpeg) no-repeat center / cover;
    cursor: pointer;
}.text5{
    text-align: center;
    cursor: pointer;
    margin: 10px;
}
.box6{
    background:url(/static/6.jpeg)no-repeat center /cover;
    height:250px;
    width: 250px;
    margin: auto;
}
.box6:hover{
    background: url(/static/6.1.jpeg) no-repeat center / cover;
    cursor: pointer;
}.text6{
    text-align: center;
    cursor: pointer;
    margin: 10px;
}
.box7{
    background:url(/static/7.jpeg)no-repeat center /cover;
    height:250px;
    width: 250px;
    margin: auto;
}
.box7:hover{
    background: url(/static/7.1.jpeg) no-repeat center / cover;
    cursor: pointer;
}.text7{
    text-align: center;
    cursor: pointer;
    margin: 10px;
}
.box8{
    background:url(/static/8.1.jpeg)no-repeat center /cover;
    height:250px;
    width: 250px;
    margin: auto;
}
.box8:hover{
    background: url(/static/8.jpeg) no-repeat center / cover;
    cursor: pointer;
}.text8{
    text-align: center;
    cursor: pointer;
    margin: 10px;
}
.pic{
    display: flex;
    justify-content: center;
    background: cover;
    margin-top: 30px;
}

.picbox{
    background: url(static/T.1.jpg) no-repeat center /cover;
    height: 100vh;
    width: 635px;
}
.picbox2{
     background: url(static/T.2.jpeg) no-repeat center /cover;
    height: 100vh;
    width: 635px;
}
.bigbox3{
display: flex;
justify-content: center;
gap: 20px;
margin-top: 50px;
}
.box9{
    background:url(/static/9.jpeg)no-repeat center /cover;
    height:250px;
    width: 250px;
    margin: auto;
}
.box9:hover{
    background: url(/static/1.1.jpeg) no-repeat center / cover;
    cursor: pointer;
}
.text9{
    text-align: center;
    cursor: pointer;
    margin: 10px;
}
.box10{
    background:url(/static/11.jpg)no-repeat center /cover;
    height:250px;
    width: 250px;
    margin: auto;
}
.box10:hover{
    background: url(/static/6.jpeg) no-repeat center / cover;
    cursor: pointer;
}
.text10{
    text-align: center;
    cursor: pointer;
    margin: 10px;
}
.box11{
    background:url(/static/10.jpeg)no-repeat center /cover;
    height:250px;
    width: 250px;
    margin: auto;
}
.box11:hover{
    background: url(/static/5.1.jpeg) no-repeat center / cover;
    cursor: pointer;
}
.text11{
    text-align: center;
    cursor: pointer;
    margin: 10px;
}
.box12{
    background:url(/static/12.1.jpeg)no-repeat center /cover;
    height:250px;
    width: 250px;
    margin: auto;
}
.box12:hover{
    background: url(/static/12.jpg) no-repeat center / cover;
    cursor: pointer;
}
.text12{
    text-align: center;
    cursor: pointer;
    margin: 10px;
}
.bigbox4{
display: flex;
justify-content: center;
gap: 20px;
margin-top: 100px;
}
.box13{
    background:url(/static/13\ \(1\).jpg)no-repeat center /cover;
    height:250px;
    width: 250px;
    margin: auto;
}
.box13:hover{
    background: url(/static/13\ \(2\).jpg) no-repeat center / cover;
    cursor: pointer;
}
.text13{
    text-align: center;
    cursor: pointer;
    margin: 10px;
}
.box14{
    background:url(/static/14.1.jpeg)no-repeat center /cover;
    height:250px;
    width: 250px;
    margin: auto;
}
.box14:hover{
    background: url(/static/14.jpg) no-repeat center / cover;
    cursor: pointer;
}.text14{
    text-align: center;
    cursor: pointer;
    margin: 10px;
}
.box15{
    background:url(/static/15\ \(1\).jpg)no-repeat center /cover;
    height:250px;
    width: 250px;
    margin: auto;
}
.box15:hover{
    background: url(/static/15\ \(2\).jpg) no-repeat center / cover;
    cursor: pointer;
}.text15{
    text-align: center;
    cursor: pointer;
    margin: 10px;
}
.box16{
    background:url(/static/16\ \(1\).jpg)no-repeat center /cover;
    height:250px;
    width: 250px;
    margin: auto;
}
.box16:hover{
    background: url(/static/16\ \(2\).jpg) no-repeat center / cover;
    cursor: pointer;
}
.text16{
    text-align: center;
    cursor: pointer;
    margin: 10px;
}
.div{
    display: flex;
    justify-content: center;
    margin-top: 50px;
    font-family: 'Segoe UI', Tahoma, sans-serif; font-size: 65%;
}
.div1{
    display: flex;
    justify-content: center;
    font-family: 'Segoe UI', Tahoma, sans-serif; font-size: 55%;
    text-decoration: underline;
    text-underline-offset: 5px;
    cursor: pointer;
    margin-bottom: 20px;

}
.container{
    display: flex;
    justify-content:space-between;
    margin: 50px;
    
}
.div2{
    display: flex;
    justify-content: center;
    margin-top: 50px;
    font-family: 'Segoe UI', Tahoma, sans-serif; font-size: 75%;
}
.div3{
    display: flex;
    justify-content: center;
    margin-top: 50px;
    font-family: 'Segoe UI', Tahoma, sans-serif; font-size: 55%;
    text-decoration: underline;
    cursor: pointer;
    
}
.down{
    background-color: black;
    height: 400px;
    width: 1264px;
    margin-top: 200px;
}









